<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/login/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
    <section class="general-area">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand ms-3" href="#"><img src="https://demo.phlox.pro/shop-digital/wp-content/uploads/sites/127/2019/09/logotype.png"
            class="img-fluid" alt="Phone image"></a>
          <span class="text-light me-auto">Sign in</span>
        </div>
      </nav>
        <div class="container py-5 h-100">
          <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-5 col-lg-7 col-xl-6 text-center img-login">
              <img src="https://demo.phlox.pro/shop-digital/wp-content/uploads/sites/127/2019/09/logotype.png"
                class="img-fluid img-cover mb-4" alt="Phone image">
                <p>Online Shopping Number 1 In Europe!</p>
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 px-3 py-3 form-area">
              <form>
                <div class="mt-3 mb-2 divider d-flex align-items-center ">
                  <span class="mx-3 text-center text-muted fw-bold">Sign in</span>
                </div>
                <!-- Email input -->
                <div class="form-outline ">
                  <label class="form-label" for="form1Example13">Email address</label>
                  <input type="email" id="form1Example13" class="form-control form-control-lg" />
                </div>
      
                <!-- Password input -->
                <div class="form-outline ">
                  <label class="form-label" for="form1Example23">Password</label>
                  <div class="input-group">
                    <input type="password" id="password" class="form-control form-control-lg" />
                    <i class="far fa-eye input-group-text" id="togglePassword"></i>
                  </div>
                </div>
      
                <div class="d-flex justify-content-around align-items-center mb-4">
                  <!-- Checkbox -->
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
                    <label class="form-check-label" for="form1Example3"> Remember me </label>
                  </div>
                  <a href="#!">Forgot password?</a>
                </div>
      
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-md" style="width: 100%;">Sign in</button>
      
                <div class="divider d-flex align-items-center my-3">
                  <span class="text-center fw-bold mx-3 mb-0 text-muted">OR</span>
                </div>
                <a class="btn btn-primary btn-md mb-2" style="background-color: #55acee; width: 100%;" href="#!"
                role="button">
                <i class="bi bi-google me-2"></i>Continue with Google</a>
                <a class="btn btn-primary btn-md" style="background-color: #3b5998; width: 100%;" href="#!"
                  role="button">
                  <i class="bi bi-facebook me-2"></i>Continue with Facebook
                </a>
                <div class="register text-center mt-1 mb-2">
                    <span>Don't have account ?</span>
                    <a href="">Register</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
</body>
  
<script type="text/javascript" src="/login/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
</script>

</html>